@import './helpers/spacing.scss';

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.label {
    color: #474747;
    display: block;
    font-size: 1rem;
    font-weight: 500;
}

.card {
  border-radius: 5px;
  // .media:not(:last-child) {
  //   margin-bottom: 0.75rem;
  // }
  &.card--reverse-order{
    flex-direction: row-reverse
  }
  &.has-equal-height {
    height: 100%;
    overflow: hidden;
  }
  .has-equal-height .card-footer {
    margin-top: auto;
  }

  &.is-horizontal{
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    .card-image{
      flex: 3;
      flex-shrink: 2;
      .image{
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .card-content{
      flex: 3;
      .title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}